.logo {
  height: 100px;

  &__text {
    padding: 1.2rem 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #303030;
    text-decoration: none;

    &_extra {
      display: inline-block;
      font-size: 0.6rem;
      vertical-align: top;
      transform: translate(-0.8rem, 2.6rem);
    }
  }
}