.title {
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  color: #e8716d;
  letter-spacing: 0.1rem;
  text-align: center;
}