.section {
  display: grid;
  grid-template-columns: .6fr .4fr;

  &__image {
    background: #4d4d4d url(https://cdnn21.img.ria.ru/images/07e4/08/05/1575393842_0:0:2000:1335_1440x900_80_0_1_c084eea5c53da29ba1c67726f9d6d1d1.jpg.webp?source-sid=not_rian_photo/) no-repeat 0 100%;
    background-size: cover;
    filter: opacity(0.9);
    box-shadow: inset -15px 0 20px #00000061;
  }

  &__description {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: max-content;
    font-family: 'Nunito', 'Roboto', sans-serif;
    border-top: 3px solid #303030;
  }

  &__title {
    padding: 2rem 2.5rem;
    font-size: 3rem;
    line-height: 3rem;
    color: #010000;
    border-bottom: 2px solid #f7f7f7;
    font-weight: 400;
  }

  &__text {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 6.25rem));
    grid-gap: 1rem;
    font-size: 1rem;
  }

  &__textBlock {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e1e1e142;
    color: #010101;
    line-height: 1.5rem;
    padding: 1rem 2.5rem;

    &:nth-child(2n + 1) {
      margin: 0 0 0 auto;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #e73725;
    text-decoration: none;
    box-shadow: inset 0 0 1rem #00000021;
    letter-spacing: 3px;
    font-size: 1.4rem;
    padding: 2rem 1rem;
    font-weight: 400;
  }
}