@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0; margin: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

$basisColor1: "#E73725";
$basisColor2: "#E1E1E1";
$basisColor3: "#010000";
$basisColor3: "#FFFFFF";