$buttonColor1: #e73725;
$animTime : .3s;

.form {
  height: 85vh;

  &__bg {
    display: flex;
    align-items: center;
    background: #303030;
    padding: 6rem 1rem;
    height: 100%;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 0;
  }
  &__controlsItem {
    display: grid;
    max-width: 40%;
    width: 100%;

    &_gap {
      grid-gap: 1.6rem;
    }
  }
  &__controlsTitle {
    font-size: 2rem;
  }
  &__controlsDescription {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  &__controlsButtons {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, auto);

    &_gap { grid-gap: 1.5rem }
  }
  &__controlsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.8rem;
    border-radius: 5px;
    border: 2px solid $buttonColor1;
    font-size: 1.1rem;
    transition-duration: $animTime;
    cursor: pointer;
    user-select: none;

    &_fill {
      background: $buttonColor1;
      &:hover { box-shadow: -4px 4px 0 #f7f7f7 }
      &:focus { box-shadow: 0 0 0 #f7f7f7 }
    }
  }
  &__floatingSquares {
    @mixin squares($size) {
      content: '';
      position: absolute;
      border: 2px solid #ffffff17;
      width: $size;
      height: $size;
      transition-duration: 1s;
    }

    &:before {
      @include squares(4rem);
      top: 30%;
      right: 10%;
      transform: rotate(20deg);
    }
    &:after {
      @include squares(10rem);
      top: 40%;
      right: 32%;
      transform: rotate(60deg);
    }

    &_activated {
      &:before {
        top: 30%;
        right: 89%;
      }
      &:after {
        top: 40%;
        right: 52%;
      }
    }
  }
  &__contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    // @TODO Поправить на динамический подсчет высоты
    min-height: calc(515px - 4rem);
    padding: 2rem 2.5rem;
    background: #272727;
  }
  &__contentItem {
    padding: 4rem;
    background: white;

    &_withoutPaddings { padding: 0 }
  }
  &__floatingBlock {
    $floatingTranslateX: 40%;

    position: absolute;
    top: 0;
    width: calc(60% - 5rem);
    box-sizing: content-box;
    transform: translate(-$floatingTranslateX, -2rem);
    background: #fff;
    transition-duration: $animTime;

    &_right { transform: translate($floatingTranslateX, -2rem) }
  }
  &__contentMain {
    &_hidden { overflow: hidden }
  }
  &__contentFloating {
    display: grid;
    grid-template-columns: 100% 100%;
    transform: translateX(0);
    transition-duration: $animTime;

    &_right { transform: translateX(-100%) }
  }
  &__map {
    // @TODO Поправить на динамический подсчет высоты
    height: 515px;
    width: 100%;
  }
}