.input {
  margin: 0;
  padding: .875rem 1rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
  font-family: "Roboto", serif;
  outline: none;
}