.MainMenu {
  position: sticky;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  align-items: center;

  &__item {
    padding: 1.2rem 1rem;
    color: #010000;
    text-decoration: none;
    font-size: 1.1rem;
    transition-duration: .3s;

    &:hover {
      background: #3030301c;
      box-shadow: -8px 10px 0px #303030;
    }

    &_active {
      background: #e73725;
      color: white;

      &:hover {
        background: #e73725;
        color: white;
      }
    }
  }
}