.MainMenu {
  position: sticky;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  align-items: center;

  &__item {
    padding: 1.2rem 1rem;
    color: #010000;
    text-decoration: none;
    font-size: 1.1rem;

    &_active {
      background: #e73725;
      color: white;
    }
  }
}